{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/layouts/header.css') }}">
{% endblock %}

<div id="header">
    <div>
        <a href="{{ path('app_index') }}">Crabiton</a>
    </div>

    {% set searchForm = search_form() %}

    {# Render the form in the header #}
    {{ form_start(searchForm, {'method': 'GET', 'attr': {'action': path('app_index')}}) }}
        {{ form_widget(searchForm.search) }}
        <button class="searchBtn" type="submit">
            <img src="{{ asset('images/button/search/loupe.png') }}" alt="logo d'une loupe">
        </button>
    {{ form_end(searchForm) }}

    <div>
        {% if app.user is null %}
            <a href="{{ path('app_login') }}">Sign in</a>
            <a href="{{ path('app_register') }}">Register</a>
        {% else %}
            <a href="{{ path('app_logout') }}">Log out</a>
        {% endif %}
    </div>
</div>