{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block stylesheets %}
    {{ knp_pagination_rel_links(pagination) }}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>

    <table>

        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'r.id') }}</th>
            <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Name', 'r.name') }}
            </th>
        </tr>

        {% for recipe in pagination %}
            <tr>
                <td>{{ recipe[0].id }}</td>
            </tr>
        {% endfor %}
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
