{% extends 'base.html.twig' %}

{% block title %}Welcome to crabiton!{% endblock %}

{% block stylesheets %}
    {{ knp_pagination_rel_links(pagination) }}
    <link rel="stylesheet" href="{{ asset('styles/recipe/index.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>

    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'r.id') }}</th>
            <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Name', 'r.name') }}
            </th>
        </tr>

        
    </table>

    <div id="recipe_wrapper">
        {% for recipe in pagination %}
            <div class="recipe" style="background-image: url('{{ recipe[0].recipeImage[0] is defined ? recipe[0].recipeImage[0] : 'https://www.foodiesfeed.com/wp-content/uploads/2023/06/burger-with-melted-cheese.jpg' }}')">
                
                <div class="recipe-like">
                    Like
                </div>
                
                <div class="recipe-content">
                    <span>{{ recipe[0].name }}</span>
                    <div>
                        <div class="rating-stars-wrapper">
                            <img class="rating-stars rating-stars-empty" src="{{ asset('images/stars/stars_empty.png') }}" alt="rating stars empty" />
                            <img style="clip-path: inset(0 {{ 100 - (recipe['avg_rating'] *2 *10) }}% 0 0);" class="rating-stars rating-stars-full" src="{{ asset('images/stars/stars_full.png') }}"  alt="rating stars full" />
                        </div>

                        <span>{{ recipe['avg_rating'] }}/5</span>
                    </div>
                    <div><a href="#">{{ recipe['count_rating'] }} avis</a></div>
                </div>
                
            </div>
        {% endfor %}
    </div>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
